<section class="start">

<div class="container">
    <div class= "row">
<img src="./images/beer.png" alt="Looks like you stay thirsty. Sorry :(" height="400px">
</div>
</div>
<div class="container buttons">
    <div class= "row">
<button type="button" class="btn btn-dark custombuttoncolor"><a href="/beers" class="buttonlink">Check the Beers!</a></button>

<button type="button" class="btn btn-dark custombuttoncolor"><a href="/random-beers" class="buttonlink">Check a Random Beer!</a></a></button>
</div>
</div>
</section>