
{{#with randomBeerFromApi}}

{{>beerpartial}}

<div class="container customborder">
<h3>It goes well with...</h3>
{{#each food_pairing}}
    <ul>
    <li>{{this}}</li>
    </ul>
{{/each}}
<h3>Some tips for brewing this beer...</h3>
<p>{{brewers_tips}} </p>
</div>

{{/with}}
